@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #222;
  /* transition: 0.4s; */
}
.router-link-active {
  color: #315efb;
}

@media (hover: hover) {
  a:hover {
    background-color: #f0f3fd;
    color: #315efb;
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
